name: Reusable stacker build
on:
  workflow_call:
    inputs:
      go-version:
        required: true
        type: string
        description: 'Stringified JSON object listing go versions'
      privilege-level:
        required: true
        type: string
        description: 'Stringified JSON object listing stacker privilege-level'
jobs:
  build:
    runs-on: ubuntu-20.04
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    strategy:
      matrix:
        go-version: ${{fromJson(inputs.go-version)}}
        privilege-level: ${{fromJson(inputs.privilege-level)}}
    name: "golang ${{ matrix.go-version }} privilege ${{ matrix.privilege-level }}"
    steps:
      - uses: actions/checkout@v2
      - name: Set up golang ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -yy lxc-utils lxc-dev libacl1-dev jq libcap-dev libseccomp-dev libpam-dev bats parallel libzstd-dev
          GO111MODULE=off go get github.com/opencontainers/umoci/cmd/umoci
          sudo cp ~/go/bin/umoci /usr/bin
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin
          sudo apt-get install -yy autoconf automake make autogen autoconf libtool binutils git squashfs-tools libcryptsetup-dev libdevmapper-dev cryptsetup-bin
          (cd /tmp && git clone https://github.com/AgentD/squashfs-tools-ng && cd squashfs-tools-ng && ./autogen.sh && ./configure --prefix=/usr && make -j2 && sudo make -j2 install && sudo ldconfig -v)
          (cd /tmp && git clone https://github.com/anuvu/squashfs && cd squashfs && make && sudo cp squashtool/squashtool /usr/bin)
      - name: Check-some-things
        run: |
          echo "I am: $(id)"
          echo "sudo is: $(sudo id)"
          for f in /etc/subuid /etc/subgid; do
              echo ""==== $f =====""
              [ -f "$f" ] || { echo "<no-file>"; continue; }
              cat "$f"
          done
      - run: |
          make check PRIVILEGE_LEVEL=${{ matrix.privilege-level }}
        env:
          REGISTRY_URL: localhost:5000
      - uses: actions/cache@v2
        id: restore-build
        with:
          path: stacker
          key: ${{ github.sha }}
