name: ci

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0" # weekly
  release:
    types:
      - published

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    with:
      # note >-, args needs to be strings to be used as inputs
      # for the reusable build.yaml workflow
      go-version: >-
        ["1.17.x", "1.18.x"]
      privilege-level: >-
        ["unpriv", "priv"]
