name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    with:
      # note >-, args needs to be strings to be used as inputs
      # for the reusable build.yaml workflow
      go-version: >-
        ["1.20.x"]
      privilege-level: >-
        ["unpriv", "priv"]
  coverage:
    uses: ./.github/workflows/coverage.yaml
    with:
      # note >-, args needs to be strings to be used as inputs
      # for the reusable build.yaml workflow
      go-version: >-
        ["1.20.x"]
      privilege-level: >-
        ["unpriv", "priv"]
