name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
  coverage:
    uses: ./.github/workflows/coverage.yaml
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
