name: Reusable stacker build for coverage
on:
  workflow_call:
    inputs:
      # note >-, args needs to be strings to be used as inputs
      # for the reusable build.yaml workflow
      go-version:
        required: false
        type: string
        description: 'Stringified JSON object listing go versions'
        default: >-
          ["1.22.x", "1.23.x"]
      privilege-level:
        required: false
        type: string
        description: 'Stringified JSON object listing stacker privilege-level'
        default: >-
          ["unpriv", "priv"]
      build-id:
        required: false
        type: string
        description: 'build-id'
        default: "${{ github.sha }}"
      slow-test:
        required: false
        type: boolean
        description: 'Should slow tests be run?'
        default: true
    secrets:
      codecov_token:
        required: true

jobs:
  build:
    runs-on: ubuntu-24.04
    services:
      registry:
        image: ghcr.io/project-stacker/registry:2
        ports:
          - 5000:5000
    strategy:
      matrix:
        go-version: ${{fromJson(inputs.go-version)}}
        privilege-level: ${{fromJson(inputs.privilege-level)}}
    name: "golang ${{ matrix.go-version }} privilege ${{ matrix.privilege-level }}"
    steps:
      - uses: actions/checkout@v4
      - name: Clean disk space
        uses: ./.github/actions/clean-runner
      - uses: benjlevesque/short-sha@v2.1
        id: short-sha
      - name: Set up golang ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Setup Environment
        run: |
          gopath=$PWD/.build/gopath
          echo "GOPATH=$gopath" >> $GITHUB_ENV
          echo "GOCACHE=$gopath/gocache" >> $GITHUB_ENV
          echo "PATH=$gopath/bin:$PATH" >> $GITHUB_ENV
          echo "SLOW_TEST=${{inputs.slow-test}}" >> $GITHUB_ENV
          echo "STACKER_DOCKER_BASE=oci:$PWD/.build/oci-clone:" >> $GITHUB_ENV
          GOCOVERDIR=$(mktemp -d)
          echo "GOCOVERDIR=$GOCOVERDIR" >> $GITHUB_ENV
          echo "PWD=$PWD"
          cat "$GITHUB_ENV"
      - name: install dependencies
        run: |
          ./install-build-deps.sh
          echo "running kernel is: $(uname -a)"
      - name: docker-clone
        run: |
          make docker-clone "STACKER_DOCKER_BASE=docker://ghcr.io/project-stacker/" CLONE_D="$PWD/.build/oci-clone"
      - name: Go-download
        run: |
          make go-download
      - name: Show disk usage before building the binaries
        uses: ./.github/actions/show-disk-usage
      - name: Build-level1
        run: |
          make show-info
          make stacker-dynamic VERSION_FULL=${{ inputs.build-id }}
      - name: Show disk usage before running the tests
        if: always()
        uses: ./.github/actions/show-disk-usage
      - name: Build and test
        run: |
          make check-cov GOCOVERDIR=$GOCOVERDIR PRIVILEGE_LEVEL=${{ matrix.privilege-level }}
          go tool covdata textfmt -i $GOCOVERDIR -o coverage-${{ matrix.privilege-level }}.txt
          go tool covdata percent -i $GOCOVERDIR
          ls -altR $GOCOVERDIR
        env:
          REGISTRY_URL: localhost:5000
          ZOT_HOST: localhost
          ZOT_PORT: 8080
      - name: Show disk usage after running the tests
        if: always()
        uses: ./.github/actions/show-disk-usage
      - name: Upload code coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.codecov_token }}
          files: coverage-${{ matrix.privilege-level}}.txt
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: ${{ (matrix.privilege-level == 'priv') && (matrix.go-version == '1.23.x') }}
        with:
          # if there is more than 1 go-version, we would need to account for that here.
          name: binary-cov
          path: stacker
          if-no-files-found: error
      - uses: actions/cache@v4
        id: restore-build
        with:
          path: stacker
          key: ${{ inputs.build-id }}
