name: "tagged-release"

on:
  release:
    types:
      - published

jobs:
  build-id:
    runs-on: ubuntu-latest
    outputs:
      build-id: ${{steps.build-id.outputs.build-id}}
    steps:
      - uses: actions/checkout@v4
      - uses: benjlevesque/short-sha@v2.1
        id: short-sha
      - id: build-id
        run: echo "build-id=${{ github.event.release.tag_name }}-${{ steps.short-sha.outputs.sha }}" >> "$GITHUB_OUTPUT"
  ci:
    uses: ./.github/workflows/build.yaml
    needs: build-id
    with:
      # note >-, args needs to be strings to be used as inputs
      # for the reusable build.yaml workflow
      privilege-level: >-
        ["priv"]
      build-id: "${{needs.build-id.outputs.build-id}}"
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
  release:
    name: "Tagged Release"
    strategy:
      fail-fast: true
      matrix:
        platform:
          - linux-amd64  # ubuntu 24.04
          - linux-arm64  # ubuntu 24.04-arm64
    runs-on: ${{ matrix.platform == 'linux-amd64' && 'ubuntu-24.04' || matrix.platform == 'linux-arm64' && 'ubuntu-24.04-arm' }}
    # needs ci for the cached stacker binary
    needs: [build-id, ci]
    steps:
      - uses: actions/cache@v4
        id: restore-build
        with:
          path: stacker-${{ matrix.platform }}
          key: ${{needs.build-id.outputs.build-id}}-${{ matrix.platform }}
      - if: github.event_name == 'release' && github.event.action == 'published'
        name: Publish artifacts on releases
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: stacker-${{ matrix.platform }}
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
